$header-height: 63px;
$sidebar-width: 232px;

.header {
  height: $header-height;
  background-color: #F2F2F2;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #EEEEEE;
}

.main {
  display: flex;
  height: calc(100vh - $header-height);
}

.sidebar-area {
  width: $sidebar-width;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  overflow: auto; 
}

.content-area {
  width: calc(100% - $sidebar-width);
  background-color: aliceblue;
  overflow-y: auto;
  position: relative;
}

.section__title{
  background: #0D3268;
  color: #fff;
  margin-top: 26px;
  // font-family: 'ProximaNova';
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-left: 53px;
  padding-top: 73px;
  padding-bottom: 54px;
}

.search-container {
  padding-left: 250px;
}

.search-form {
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 100px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px 1px #00000026;
  
  input {
    border: none;
    background: inherit;
    font-size: 12px;
    outline: none;
    margin: auto;
    height: 100%;
    border-radius: 40px;
    padding: 13px 26px;
    &::-webkit-search-cancel-button {
     appearance: none;
   }
  }

  button {
    margin-right: auto;
    border: none;
    background: none;
  }
} 

.toggle-device {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 60px;
 
  li + li {
    padding-left: 30px;
  }
}

.sidebar__content {
  padding-top: 25px;
 
  li { 
    padding: 20px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.43px;
    color: #3B3D40;
    border-bottom: 1px solid #EEEEEE;
  }

  a {
    text-decoration: none;
  }
}

.main-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section__content {
  display: none;
} 

 .visible {
  display: block;
}


