
.svg-facebook {
  width: 40px;
  height: auto;
  fill: #4267B2;
}

.svg-twitter {
  width: 40px;
  height: auto;
  fill: #1DA1F2;
}

.svg-headphones {
  width: 40px;
  height: auto;
  fill: #083a13;
}

.svg-music {
  width: 40px;
  height: auto;
  fill: #a50a83;
}

.svg-stack {
  width: 40px;
  height: auto;
  fill: #4c1dcc;
}

.svg-compass {
  width: 40px;
  height: auto;
  fill: #2803cc;
}

.svg-compass2 {
  width: 40px;
  height: auto;
  fill: #083a13;
}

.svg-mug {
  width: 40px;
  height: auto;
  fill: #022c0a;
}

.svg-spoon-knife {
  width: 40px;
  height: auto;
  fill: black;
}

.svg-google-plus {
  width: 40px;
  height: auto;
  fill: #db4a39;
}

.svg-instagram {
  width: 40px;
  height: auto;
  fill: #700146;
}

.svg-vk {
  width: 40px;
  height: auto;
  fill: #4C75A3;
}

.svg-youtube {
  width: 60px;
  height: auto;
  }

.svg-appleinc {
  width: 40px;
  height: auto;
  fill: #555555;
}

.svg-finder {
  width: 40px;
  height: auto;
  fill: #8eb9eb;
}
.svg-android {
  width: 40px;
  height: auto;
  fill: #78C257;
} 

.svg-skype {
  width: 40px;
  height: auto;
  fill: #00aff0;
}

.svg-home {
  width: 40px;
  height: auto;
  fill: #5c6163;
}

.svg-image {
  width: 50px;
  height: auto;
  fill: #666969;
}

.svg-amazon {
  width: 50px;
  height: auto;
  fill: #e47911;
}
