.square {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  @include breakpoint(max-width $tablet) {
    width: 300px;
  }
}

.square-big {
  border: 1px solid #000;
  height: 200px;
  width: 33.333%;
  position: relative;
  @include breakpoint(max-width $tablet) {
    height: 100px;
  }
}

.square-small {
  width: 50px;
  height: 50px;
  background-color: #00aff0;
  position: absolute;
}

.top {
  top: 0;
}

.middle {
  top:50%;
  transform: translateY(-50%);
  &.sq2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.sq2 {
  left:50%;
  transform: translateX(-50%);
}

.bottom {
  bottom: 0;
}

.sq3 {
  right: 0;
}