.transition-area {
  background-image: url('../../images/road1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 30%;
  }

  &:hover {
    .transition-child {
      left: calc(100% - 100px);
    }
  }
}



.transition-child {
  width: 7%;
  // height: 40px;
  border-bottom: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 5s linear;
  // transition-property: left, top;
  // transition-duration: 5s;
  // transition-timing-function: ease-out;
}

/*
transition-property: all || margin || transform || left, etc - pe care proprietate CSS vrem sa aplicam tranzitia?
transition-duration: <timp> in secunde sau milisecunde, cat timp sa dureze tranzitia
transition-timing-function: linear || ease || ease-in || ease-in-out || ease-out || cubic-bezier()
transition-delay: <timp> in secunde sau milisecunde, cat timp amânăm tranziția
*/

.trasition-img {
  width: 100%;
  position: absolute;
 
}

.transition-child--1 {
  top: 7%;
  transition-timing-function: linear;
}

.transition-child--2 {
  top: 21%;
  transition-timing-function: ease-in-out;
}

.transition-child--3 {
  top: 35%;
  transition-timing-function: ease;
}

.transition-child--4 {
  top: 49%;
  transition-timing-function: ease-out;
}

.transition-child--5 {
  top: 63%;
  transition-timing-function: cubic-bezier(.02,.68,1,.62);
}

.transition-child--6 {
  top: 77%;
  transition-timing-function: cubic-bezier(.18,.6,.57,.97);
}