// @mixin fix-inline-blocks($fontsize: 16px) {
//   font-size: 0;

//   > * {
//     display: inline-block;
//     font-size: $fontsize;
//   }
// }

// .cineva {
//   @include fix-inline-blocks(16px);
// }

// .section {
//   padding-top: 20px;

//   @include breakpoint($desktop) {
//     padding-top: 40px; // va aplica de la 1200 in sus
//   }
// }

// // exemplu desktop-first
// .section__title {
//   font-size: 20px;

//   @include breakpoint(max-width $tablet) {
//     font-size: 14px;  // va aplica doar de la 768 in jos
//   }
// }

// // exemplu de range 
// .section__content {
//   margin-bottom: 20px;

//   @include breakpoint($tablet $desktop) {
//     margin-bottom: 40px; // va aplica doar intre 768 si pana la 1200
//   }
// }

@function coef-to-percentage($coef) {
  @return $coef * 100%;
}

.test-function {
  margin-top: coef-to-percentage(0.2);
}

@mixin get-theme-colors($theme: 'light') {
  @if $theme == 'light' {
    background-color: #fff;
    color: #000;
  }
  @else if $theme == 'dark' {
    background-color: #000;
    color: #fff;
  }
}

.theme-light {
  @include get-theme-colors();
}

.theme-dark {
  @include get-theme-colors(dark);
}

$font-weights: (
  'thin': 100,
  'normal': 400,
  'bold': 700,
  'black': 900,
);

$primary-color: blue;
$secondary-color: #ccc;
$tertiary-color: #aaa;

$brand-colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'tertiary': $tertiary-color,
);


@each $name, $weight in $font-weights {
  .font-weight-#{$name} {
    font-weight: $weight
  }
}

@each $name, $color in $brand-colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

